.DS_Store
*.log
sitemap.xml
sitemap.xml.gz
wp-dev-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/themes/twenty*
wp-content/languages/themes/twenty*
wp-content/mu-plugins/dev-*
wp-content/*/my-project-*/css/*
wp-content/*/my-project-*/js/prod/*
**/node_modules
**/.sass-cache
google*.html
